1. Write a Python program to sum all the items in a list.

In [ ]:
list=[11,12,13,14,15]
x=0
for i in list:
  x+=i
print("the sum of all items:",x)

the sum of all items: 65

In [ ]:
list=[11,12,13,14,15]
print(sum(list))

65

In [ ]:
list=[11,12,13,14,15]
sum=0
i=0
while i<len(list):
  sum+=list[i]
  i+=1
print(sum)

65

2. Write a Python program to get the largest number from a list.

In [ ]:
list=[11,14,18,17,12]
list.sort()
print("the largest numer is:",list[-1])

the largest numer is: 18

In [ ]:
list=[11,14,18,17,12]
print(max(list))

18

3. Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
```

In [ ]:
list=['abc', 'xyz', 'aba', '1221']
result=[]
for i in list:
  if len(i)>=2 and i[0]==i[-1]:
    result.append(i)
print(len(result))

2

4. Write a Python program to remove duplicates from a list.

In [ ]:
l=[1,2,3,1,2,4,1]
set(l)

{1, 2, 3, 4}

In [ ]:
l=[1,2,3,1,2,4,1]
x=[]
for i in l:
  if i not in x:
    x.append(i)
print(x)

[1, 2, 3, 4]

5. Write a Python program to check if a list is empty or not.

In [ ]:
list=[]
if len(list)==0:
  print("the list is empty")
else:
    print("the list is not empty")

the list is empty

In [ ]:
list=[2,4,1,6,5]
if list!=[]:
  print("the list is not empty")
else:
  print("the list is emty")

the list is not empty

6. Write a Python program to filter the list if the length of the character is < 4

```
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result: ['abc', 'xyz', 'aba']
```

In [ ]:
list= ['abc', 'xyz', 'aba', '1221']
result=[]
for i in list:
  if len(i)<4:
    result.append(i)
print(result)

['abc', 'xyz', 'aba']

7.Write a Python program to find the second largest number in a list.

In [ ]:
list=[12,13,14,11,10,23]
list.sort()
print(list[-2])

14

In [ ]:
list=[12,13,14,11,10,23]
list.sort(reverse=True)#false(ascending)
print(list[1])

14

8. Write a Python program to reverse a list at a specific location.

In [ ]:
loc=3
list=[2,3,4,1,5,6,4,8,9]
l1=list[:3]
l2=list[3:]
l2.reverse()
result=l1+l2
print(result)

[2, 3, 4, 9, 8, 4, 6, 5, 1]

9. Write a Python program to check if a list is a palindrome or not. Return true otherwise false.

In [ ]:
l=[1,2,3,4,3,2,1]
l1=l.copy()
l1.reverse()
if l==l1:
  print("true")
else:
  print("false")
print("this list is palindrome")

true
this list is palindrome

10. Write a Python a program to find the union and intersection of two lists.

In [ ]:
l1=[2,4,1,4,5,6,3,1]
l2=[5,1,2,4,7,1,3,7]
l3=set(l1)|set(l2)  #union
print(l3)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
l3=set(l1)&set(l2) #intersection
print(l3)

{1, 2, 3, 4, 5}

11.Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
dict={"ali":12,"babu":23,"shibu":10,"anu":14}
sorted(dict.values())
asc=sorted(dict.items())
print(asc)

[('ali', 12), ('anu', 14), ('babu', 23), ('shibu', 10)]

In [ ]:
dict={"ali":12,"babu":23,"shibu":10,"anu":14}
sorted(dict.values())
dsc=sorted(dict.items())
dsc.sort(reverse=True)
print(dsc)

[('shibu', 10), ('babu', 23), ('anu', 14), ('ali', 12)]

12. Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
dict={'anu':10,'appu':15,'ammu':20}
key='anu'
if key in dict:
  print("the key is exist")
else:
  print("the key is not exist")

the key is exist

In [ ]:
dict={'anu':10,'appu':15,'ammu':20}
check=input('enter required key ')
check in dict.keys()

enter required key appu

True

13.Write a Python program to sum all the values in a dictionary.

In [ ]:
d={'a':4,'b':5,'c':6,'d':7}
sum=0
for i in d.values():
  sum+=i
print(sum)

22

14.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10

```
Eg:
Input : 3
Output : {1:1, 2:4, 3:9}
```

In [ ]:
x=int(input('enter the input number '))
dict={i:i**2 for i in  range(1,x+1)}
print('the dictionary is ',dict)
if x<10 :
  print("input number is less than 10")

enter the input number 3
the dictionary is  {1: 1, 2: 4, 3: 9}
input number is less than 10

15.Write a Python program to sort a given dictionary by key.

In [ ]:
dict={"ali":12,"babu":23,"shibu":10,"anu":14}
newdict={}
sorted(dict.keys())
for i in sorted(dict.keys()):
  newdict[i]=dict[i]
print(newdict)

{'ali': 12, 'anu': 14, 'babu': 23, 'shibu': 10}

16.  Write a Python program to create a dictionary from a string.

```
Note: Track the count of the letters from the string.
Sample string : 'learnpython'
Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

```

In [ ]:
s='learnpython'
dict={}
for i in s:
  dict[i]=dict.get(i,0)+1
print(dict)

{'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

17. Write a Python program to get the top three items in a shop.

```
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:
item4 55
item1 45.5
item3 41.3
```

In [ ]:
data={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
sortdata=sorted(data.items(),key=lambda x:x[1],reverse=True)
for i in range(3):
  print(sortdata[i])

('item4', 55)
('item1', 45.5)
('item3', 41.3)