Exercise 1: Create a function with a default argument
Write a program to create a function show_employee() using the following conditions.
It should accept the employeeâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary   

Given:

showEmployee("Ben", 12000)

showEmployee("Jessa")

Expected output:

Name: Ben salary: 12000

Name: Jessa salary: 9000

In [ ]:
def show_employee(name,salary=9000):
  print(f'Name:{name} salary:{salary}')#print("name:" + name + ",salary:"+str(salary))

show_employee("Ben",12000)
show_employee("Jessa")

Name:Ben salary:12000
Name:Jessa salary:9000

Exercise 2: Create an inner function to calculate the addition in the following way

Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b

At last, an outer function will add 5 into addition and return it

In [ ]:
def outer_function(a,b):
  def inner_function(a,b):
    return a+b

  result=inner_function(a,b)+ 5
  return result

final_result=outer_function(5,10)
print(final_result)

20

Exercise 3: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
list(range(4,31,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
l=range(4,31)
even_number=list(filter(lambda x:x%2==0,l))
print(even_number)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Exercise 4: Lambda Function to Check if value is in a List
Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the list

In [ ]:
def check_value(a):
  l=[1,2,3,4,5]

  if a in l:
    print("elememt is present in the list")
  else:
    print("element is not present in the list")

f=lambda a:check_value(a)
f(4)
f(8)

elememt is present in the list
element is not present in the list

Exercise 5: Sort list of tuples with their sum
Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [ ]:
l=[(1, 2), (5, 3), (0, 7), (3, 1)]
l.sort(key=lambda x:sum(x))
print(l)

[(1, 2), (3, 1), (0, 7), (5, 3)]

Exercise 6 :
Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [ ]:
def fun1(a,b):
  item=[]
  for i in range(1000,3001):
    if i%2==0:
      item.append(i)
  return item

result=list(fun1(1000,3001))
print(result)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

In [5]:
def find_even_digit_numbers():
    result = []
    for num in range(1000, 3001):
        all_even_digits = all(int(digit) % 2 == 0 for digit in str(num))
        if all_even_digits:
            result.append(num)
    return result

even_digit_numbers = find_even_digit_numbers()
print(even_digit_numbers)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

Exercise 7 :
Write a python function that accepts a sentence and calculate and return the number of letters and digits.
Suppose the following input is supplied to the program:

hello world! 123

Then, the output should be:

LETTERS 10

DIGITS 3

In [3]:
def count_letter_and_digit(sentence):
  letter_count=sum(i.isalpha() for i in sentence)
  digit_count=sum(i.isdigit() for i in sentence)

  return f"LETTERS {letter_count}\nDIGITS {digit_count}"

input="hello world! 123"
result=count_letter_and_digit(input)
print(result)

LETTERS 10
DIGITS 3

In [8]:
sentence = lambda x: (sum(map(str.isalpha, x)), sum(map(str.isnumeric, x)))

# Call the lambda function with a sample string
alpha, num = sentence("hello world! 123")

# Print the counts
print("LETTERS:", alpha)
print("DIGITS:", num)

LETTERS: 10
DIGITS: 3

Exercise 8  MAP:
Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [ ]:
def upper_lower_duplicate(sentence):
  upper_case=list(map(lambda x:x.upper(),sentence))
  lower_case=list(map(lambda x:x.lower(),sentence))
  duplicate=list(set(sentence))

  return upper_case,lower_case,duplicate

sentence="hi welcom to hellow world"
upper_case,lower_case,duplicate=upper_lower_duplicate(sentence)
print(upper_case)
print(lower_case)
print(duplicate)

['H', 'I', ' ', 'W', 'E', 'L', 'C', 'O', 'M', ' ', 'T', 'O', ' ', 'H', 'E', 'L', 'L', 'O', 'W', ' ', 'W', 'O', 'R', 'L', 'D']
['h', 'i', ' ', 'w', 'e', 'l', 'c', 'o', 'm', ' ', 't', 'o', ' ', 'h', 'e', 'l', 'l', 'o', 'w', ' ', 'w', 'o', 'r', 'l', 'd']
['w', 'd', 'i', 'r', ' ', 'h', 'c', 'l', 'm', 'e', 'o', 't']

Exercise 9 MAP:
 Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [ ]:
l1=[6,7,8,9,10] #using lambda
l2=[1,2,3,4,5]

sum=list(map(lambda a,b:a+b,l1,l2))
difference=list(map(lambda a,b:a-b,l1,l2))

print("result of addition:",sum)
print("result of difference:",difference)

result of addition: [7, 9, 11, 13, 15]
result of difference: [5, 5, 5, 5, 5]

In [ ]:
l1=[6,7,8,9,10]
l2=[1,2,3,4,5]
def sum(a,b):
  return a+b
def diff(a,b):
  return a-b

sum_result=list(map(sum,l1,l2))
diff_result=list(map(diff,l1,l2))
print("sum:",sum_result)
print("difference:",diff_result)

sum: [7, 9, 11, 13, 15]
difference: [5, 5, 5, 5, 5]

Exercise 10 Filter:
Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.

Original Dictionary:

{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

Height> 6ft and Weight> 70kg:

{'Cierra Vega': (6.2, 71)}

In [ ]:
students={'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
students.items()
result=dict(filter(lambda a:a[1][0]>6 and a[1][1]>70,students.items()))

print("Original Dictionary:",students)
print("Height> 6ft and Weight> 70kg:",result)

Original Dictionary: {'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
Height> 6ft and Weight> 70kg: {'Cierra Vega': (6.2, 71)}

Exercise 11 Filter:
Write a Python program to remove all elements from a given list present in another list using lambda.

Original lists:

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]

Remove all elements from 'list1' present in 'list2:

[1, 3, 5, 7, 9, 10]

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=[2,4,6,8]
result=list(filter(lambda x:x not in l2,l1))

print("original lists:",l1,l2)
print("remove all elements from list1 present list2:",result)

original lists: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [2, 4, 6, 8]
remove all elements from list1 present list2: [1, 3, 5, 7, 9, 10]

Exercise 12 Reduce:


Write a Python program to calculate the product of a given list of numbers using lambda.

list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Product of the said list numbers:

3628800

In [ ]:
import functools
l1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result=functools.reduce(lambda a,b:a*b,l1)
print("product of the said list number:",result)

product of the said list number: 3628800



Exercise 13 Reduce:


 Write a Python program to multiply all the numbers in a given list using lambda.

Original list:

[4, 3, 2, 2, -1, 18]

Mmultiply all the numbers of the said list: -864

In [ ]:
import functools
l1=[4,3,2,2,-1,18]
result=functools.reduce(lambda x,y:x*y,l1)

print("multiply all the numbers of the said list:",result)

multiply all the numbers of the said list: -864



Exercise 14 Reduce:


Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.

Original Tuple:

((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

Average value of the numbers of the said tuple of tuples:

(30.5, 34.25, 27.0)

In [ ]:
t=((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
y=tuple(zip(*t))
result=tuple(map(lambda x:sum(x)/len(x),y))

print("original tuple:",t)
print("average value of the number of the said tuple of tuple:\n",result)

original tuple: ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
average value of the number of the said tuple of tuple:
 (30.5, 34.25, 27.0)

Exercise 15:


Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.

Original list:

[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

Sort the said mixed list of integers and strings:

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
Original_list=[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
result=sorted(Original_list,key=lambda x:(type(x)is str,x))#isintance(x,str)

print("original list:")
print(Original_list)
print("sort the said mixed list of integers and string:")
print(result)

original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
sort the said mixed list of integers and string:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [ ]:
l=[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
def filter_list(l):

  a=[]
  b=[]
  for element in l:
    if isinstance(element,int):#isinstance-type checking
      a.append(element)
    else:
      b.append(element)
  a.sort()
  b.sort()
  return a+b
result=filter_list(l)
print(result)

[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

Exercise 16:
Write a Python program to count the occurrences of items in a given list using lambda.

Original list:

[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

Count the occurrences of the items in the said list:

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [ ]:
l1=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
result=dict(map(lambda x:(x,l1.count(x)),l1))

print("original list:",l1)
print("count the occurence of the items in the said list:",result)

original list: [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
count the occurence of the items in the said list: {3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}



Exercise 17:


Write a Python program to remove None values from a given list using the lambda function.

Original list:

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Remove None value from the said list:

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
Original_list=[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
result=list(filter(lambda x:x is not None,Original_list))

print("original list:",Original_list)
print("remove None value from the said list:",result)

original list: [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
remove None value from the said list: [12, 0, 23, -55, 234, 89, 0, 6, -12]